<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Base Post-login page</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	  <script>
		  function checkPassword(event) {

		  }
		  function checkFilled(event){

		  }
	  </script>
  </head>
  <body>
<!--
OPTIONS:
	title,
	tableTitle[],
	tableHeaders[]
	accessType = [userType, navItems[]{title, ref}, TODO ]
	queryResults[]
-->
<div class="container-fluid vh-100" style="margin-top:10px">
	<div class="" style="margin-top:100px">
		<div class="rounded d-flex justify-content-center">
			<div class="col-md-4 col-sm-12  shadow-lg p-5 bg-light">
				  <div class="text-center">
					  <h3 class="text-primary"><%=title;%></h3>
				  </div>
					<form method="post">
						<div class = "offset-1">
							<div class="mb-3 text-secondary-emphasis">
								<label for="echoID" class="form-label text-primary-emphasis" >User ID</label>
								<input class="form-control" id="echoID" style="margin-left: 5px;" type="text" disabled value="<%=userID%>">
							</div>
							<div class="mb-3 text-secondary-emphasis">
								<label for="echoName" class="form-label text-primary-emphasis" >User Name</label>
								<input class="form-control" id="echoName" style="margin-left: 5px;" type="text" disabled value="<%=name%>">
							</div>
							<div class="mb-3 text-secondary-emphasis">
								<label for="echoType" class="form-label text-primary-emphasis" >User Type</label>
								<input class="form-control" id="echoType" style="margin-left: 5px;" type="text" disabled value="<%=role%>">
							</div>
							<div class="p-4">
								<%if(action === "password"){%>
									<div class="mb-3">
										<label for="newPassword" class="form-label">New Password</label>
										<input class="form-control" style="margin-left: 5px;" type="text" id="newPassword" name="newPassword">
									</div>
									<div class="mb-3">
										<label for="confirmPassword" class="form-label">Confirm New Password</label>
										<input class="form-control" type="text" id="confirmPassword">
									</div>
								<%}else{%>
									<div class="form-check">
										<label for="Admin" class="form-check-label">Admin</label>
										<input type="radio" id="Admin" name="desiredRole" value="admin" class="form-check-input">
									</div>
									<div class="form-check">
										<label for="Employee" class="form-check-label">Employee</label>
										<input type="radio" id="Employee" name="desiredRole" value="employee" class="form-check-input">
									</div>
									<div class="form-check">
										<label for="Customer" class="form-check-label">Customer</label>
										<input type="radio" id="Customer" name="desiredRole" value="customer" class="form-check-input">
									</div>
								<%}%>
							</div>
						</div>
							<div class="text-center">
								<input type="submit" class="btn btn-primary mt-2">
							</div>
					</form>
								</div>
							</div>
						</div>
					</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">

			<address>
				 <strong>Banking, Inc.</strong><br> 555 F street, Suite 000 <br> City, State 555555<br> <abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
		</div>
		<div class="col-md-4">
		</div>
	</div>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>