<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Base Post-login page</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
<!--
OPTIONS:
	title,
	tableTitle[],
	tableHeaders[]
	accessType = [userType, navItems[]{title, ref}, TODO ]
	queryResults[]
-->
  <div class="container-fluid vh-100" style="margin-top:10px">
	  <div class="" style="margin-top:5px">
		  <div class="rounded d-flex justify-content-center">
			  <div class="col-lg-12 shadow-lg p-5 bg-light">
				  <div class="text-center">
					  <h3 class="text-primary"><%=title;%></h3>
				  </div>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">
									<ul class="nav flex-column nav-pills">
										<li class="nav-item">
											<a class="nav-link active" href="#">Overview</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Transfers</a>
										</li>
										<li class="nav-item">
											<a class="nav-link disabled" href="#">Checking (add)</a>
										</li>
										<li class="nav-item">
											<a class="nav-link disabled" href="#">Savings</a>
										</li>
										<%if(accessType.userType === "employee"){%>
											<li class="nav-item">
												<a class="nav-link active" href="#">Enter Customer Account</a>
											</li>

										<%}%>
									</ul>
								</div>
								<div class="col-md-9">
									<form method="post">
										<%if (transactiontype == 'transfer'){%>
										<div class="mb-3">
											<label for="receivingAccount" class="form-label">Receiving Account</label>
											<input class="form-control" style="margin-left: 5px;" type="text" id="receivingAccount" name="receivingAccount">
										</div>
										<div class="mb-3">
											<label for="sendingAccount" class="form-label">Sending Account</label>
											<select class="form-select" name="sendingAccount" id="sendingAccount">
												<option selected>Choose an Account</option>
												<option value="1">Savings</option>
												<option value="2">Checking</option>
											</select>
										</div>
										<div class="mb-3">
											<label for="Amount" class="form-label">Amount</label>
											<input class="form-control" style="margin-left: 5px;" type="text" id="Amount" name="amount">
										</div>
										<%}%>
									</form>
								</div>
								</div>
								</div>
							</div>
						</div>
					</div>
			  </div>
		  </div>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					 
					<address>
						 <strong>Banking, Inc.</strong><br> 555 F street, Suite 000 <br> City, State 555555<br> <abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
				</div>
				<div class="col-md-4">
				</div>
			</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>