<!DOCTYPE html>
<html>


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter Login</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
  <script>
    function checkUser(event) {
      return true;
    }
    function checkPassword(event) {
      return true;
    }
    function checkUserType(event) {
      return document.getElementById("username").textContent;
    }
    function showEID(event) {return confirm('Your External ID: <%=externalID%>');}
  </script>

</head>

<body <%if(externalID !== undefined){%> onload="showEID(event)"<%}%>>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center" >
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <div class="text-center">
            <h3 class="text-primary">Sign In</h3>
          </div>
          <form onSubmit="return checkUser(event) && checkPassword(event);" method="post">
            <div class="p-4">
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-person-plus-fill text-white"></i>
                </span>
                <input id="externalID" name="externalID" type="text" <%if(externalID !== undefined){%>value="<%=externalID%>"<%}%> class="form-control" autofocus="autofocus" placeholder="External ID">
              </div>
              <div>
                <p id="message" class="text-danger">
                  PROBLEM MESSAGE GOES HERE
                </p>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                <input id="password" name="password" type="password" class="form-control" autofocus="autofocus" placeholder="password">
              </div>
              <div>
                <p id="message" class="text-danger">
                  PROBLEM MESSAGE HERE
                </p>
              </div>
              <input type="hidden" id="page" name="page" value="overview">
              <div class="text-center">
                <button class="btn btn-primary mt-2" type="submit">
                  Login
                </button>
              </div>
              <p class="text-center mt-5">Don't have an account?
                <span class="text-primary"><a href="/register">Sign Up</a></span>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>