<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap 5 Login Form Example</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css" />

  <!--TODO add required fields to all forms-->
  <script>
    function checkPassword(event) {
      let newPass = document.getElementById("newPassword");
      let confirmPass = document.getElementById("confirmPassword");
      console.log(newPass.value);
      console.log(confirmPass.value);
      console.log(newPass.value !== confirmPass.value);
      if(newPass.value !== confirmPass.value){
        document.getElementById("message").setAttribute("style", "visibility: visible")
        newPass.setCustomValidity("Passwords do not match.")
      }
      else{
        document.getElementById("message").setAttribute("style", "visibility: hidden")
        newPass.setCustomValidity("")
      }
    }
  </script>

</head>
<!--TODO Implement problem messages and form validation -->
<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <div class="text-center">
            <h3 class="text-primary">Register New Account</h3>
          </div>
          <form onSubmit="" method="post">
            <div class="p-4">
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-person-vcard-fill text-white"></i>
                </span>
                <input required id="firstname" name="firstName" type="text" class="form-control" placeholder="First Name">
              </div>
              <!--Name-->
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-person-plus-fill text-white"></i>
                </span>
                <input required id="lastname" name="lastName" type="text" class="form-control" placeholder="Last Name">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                <input required id="newPassword" type="password" class="form-control" placeholder="Password">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                <input required id="confirmPassword" name = "pass" type="password" class="form-control" placeholder="Re-enter Password" onkeyup="checkPassword(event)">
                <div class="row"><p id="message" class="text-danger" style="visibility: hidden">Passwords do not match.</p></div>
              </div>

              <div class="text-center">
                <button id="submit" class="btn btn-primary mt-2" type="submit">
                  Create Account
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>